#settings
  include ../../components/button.pug

  +ButtonBase.-multi
    +Button#position-unit(isBaseless=true)
    +Button#menu(isBaseless=true)
    +Button#display-range(isBaseless=true)
  +ButtonBase.-multi
    +Button#preroll(isBaseless=true)
    +Button#metronome(isBaseless=true)
    +Button#loop(isBaseless=true)
