- var size = 512 / 2;
- var len = 512 - size;
- var center = len / 2;
- var psize = size / 2;
- var px = (512 - psize) / 2;
- var py = 512 - psize * 2;
symbol#o-icon-markerrange(viewBox="0 0 512 512")
  use(xlink:href="#o-icon-marker" x=len y=center width=size height=size transform="scale(-1, 1.5) translate(-512, -96)")
  use(xlink:href="#o-icon-marker" x=len y=center width=size height=size transform="scale(1, 1.5) translate(0, -96)")
  use(xlink:href="#o-icon-play" x=px y=py width=psize height=psize)
